<div class="area sanyo">
  <h1>山陽の商品一覧</h1>

  <div class="panel panel-default">
    <br /><p>ここには、山陽エリアの名産品が並んでいます。<br />全国的に有名なもみじ饅頭や、きびだんごなどが存在します。</p>
  </div>
  <ul class="media-list">
    <% @sanyos.each do |sanyo| %>
      <div class="row">
        <aside class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <li class="media">
                <div>
                  <%= link_to sanyo.title, sanyo %>
                </div>
                <br />
                <div>
                  <%= sanyo.content %>
                </div>
                <div>
                  <%= image_tag(sanyo.image_url,:size =>"200x150") %>
                </div>
              </li>
            </div>
          </div>
        </aside>
      </div>
    <% end %>
    <%= paginate @sanyos %>
  </ul>
</div>