<div class="area kyushu">
  <h1>九州の商品一覧</h1>

  <div class="panel panel-default">
    <br /><p>ここには、九州エリアの名産品が並んでいます。<br />博多名物明太子や、長崎のカステラなどが存在します。</p>
  </div>
  <ul class="media-list">
    <% @kyushus.each do |kyushu| %>
      <div class="row">
        <aside class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <li class="media">
                <div>
                  <%= link_to kyushu.title, kyushu %>
                </div>
                <br />
                <div>
                  <%= kyushu.content %>
                </div>
                <div>
                  <%= image_tag(kyushu.image_url,:size =>"200x150") %>
                </div>
              </li>
            </div>
          </div>
        </aside>
      </div>
    <% end %>
    <%= paginate @kyushus %>
  </ul>
</div>