<div class="area shikoku">
    <h1>四国の商品一覧</h1>

  <div class="panel panel-default">
    <br /><p>ここには、四国エリアの名産品が並んでいます。<br />愛媛銘菓「一六タルト」や、お慶びのお菓子「おいり」などが存在します。</p>
  </div>
  <ul class="media-list">
    <% @shikokus.each do |shikoku| %>
      <div class="row">
        <aside class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <li class="media">
                <div>
                  <%= link_to shikoku.title, shikoku %>
                </div>
                <br />
                <div>
                  <%= shikoku.content %>
                </div>
                <div>
                  <%= image_tag(shikoku.image_url,:size =>"200x150") %>
                </div>
              </li>
            </div>
          </div>
        </aside>
      </div>
    <% end %>
    <%= paginate @shikokus %>
  </ul>
</div>