<div class="user">
  <div class="col-xs-8 panel panel-default">
    <div class="panel-body">
      <img class="media-object img-rounded img-responsive" src="<%= gravatar_url(@user, { size: 300 }) %>" alt="">
    </div>
    <h1 class="panel-title"><%= @user.name %></h1>
    <h2 class="panel-h2">自己紹介</h2>
    <p><%= @user.introduction %></p>
  </div>
</div>