<div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>全国の名産品をレビューしよう</h1>
        <p>広島のもみじ饅頭や京都の八ッ橋・高知のカツオなど、全国各地には様々な名産品があります。<br />
        ここでは、今までに味わった名産品をレビューすることができます。</p>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
  </div>