<div class="area kantou">
  <h1>関東の商品一覧</h1>

  <div class="panel panel-default">
    <br /><p>ここには、関東エリアの名産品が並んでいます。<br />崎陽軒のシウマイや、浅草の人形焼きなどがあります。</p>
  </div>
  <ul class="media-list">
    <% @kantous.each do |kantou| %>
      <div class="row">
        <aside class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <li class="media">
                <div>
                  <%= link_to kantou.title, kantou %>
                </div>
                <br />
                <div>
                  <%= kantou.content %>
                </div>
                <div>
                  <%= image_tag(kantou.image_url,:size =>"200x150") %>
                </div>
              </li>
            </div>
          </div>
        </aside>
      </div>
    <% end %>
    <%= paginate @kantous %>
  </ul>
</div>