<div class="area okinawa">
  <h1>沖縄の商品一覧</h1>

  <div class="panel panel-default">
    <br /><p>南国リゾートの地・沖縄。<br />ここは、紫芋のタルトやちんすこうなどが有名です。</p>
  </div>
  <ul class="media-list">
    <% @okinawas.each do |okinawa| %>
      <div class="row">
        <aside class="col-xs-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <li class="media">
                <div>
                  <%= link_to okinawa.title, okinawa %>
                </div>
                <br />
                <div>
                  <%= okinawa.content %>
                </div>
                <div>
                  <%= image_tag(okinawa.image_url,:size =>"200x150") %>
                </div>
              </li>
            </div>
          </div>
        </aside>
      </div>
    <% end %>
    <%= paginate @okinawas %>
  </ul>
</div>